.galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.img{
    width: 25%;
    border: 1px solid slateblue;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.img:hover{
    border: 2px solid tomato ;
}

.img img{
    width: 100%;
    margin-bottom: 1em;
}

@media (max-width: 576px){
    .galeria{
        flex-direction: column;
    }

    .img{
        width: 100%;
    }
}